system/** linguagem-detectada=ignorada
tests/** linguagem-detectada=ignorada
writable/** linguagem-detectada=ignorada
app/Config/** linguagem-detectada=ignorada
app/Database/** linguagem-detectada=ignorada
app/Language/** linguagem-detectada=ignorada
app/ThirdParty/** linguagem-detectada=ignorada
